/* Resets */
:root {
  font-size: 18px;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

*::before,
*::after {
  box-sizing: inherit;
}

/* Demo styling NOT THE ADC */
::selection {
  color: var(--background);
  background-color: var(--active);
}

body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  color: #8A91B4;
  background: #F6F8FF;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 50px;
  grid-template-areas: "questions" "footer";
}

a,
a:visited {
  color: var(--active);
  transition: color ease .15s;
}

a:hover {
  color: var(--border-hover);
}

.wrapper {
  grid-area: questions;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-flow: column nowrap;
  width: 40vw;
}

.question-caption {
  font-weight: 700;
  margin-bottom: 0;
}

ul {
  margin: .75em  0;
  padding: 0;
  list-style: none;
}

ul li {
  margin: 1em 0;
  position: relative;
}

footer {
  font-size: .875rem;
  grid-area: footer;
  text-align: right;
  padding: .75em;
}

/* ADC STYLING */

/* Variables */
:root {
  --active: #6C7294;
  --active-inner: #FFF;
  --focus: 2px rgba(108, 114, 148, .3);
  --border: #BBC1E1;
  --border-hover: #757CA1;
  --background: #FFF;
  --disabled: #F6F8FF;
  --disabled-inner: #E1E6F9;
}

/* Styling */
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 1.313em;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: .063em solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;
  }

  input[type='checkbox']::after,
  input[type='radio']::after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: opacity var(--d-o, .2s);
    transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
  }

  input[type='checkbox']:checked,
  input[type='radio']:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }

  input[type='checkbox']:disabled,
  input[type='radio']:disabled {
    --b: var(--disabled);

    cursor: not-allowed;
    opacity: .9;
  }

  input[type='checkbox']:disabled:checked,
  input[type='radio']:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }

  input[type='checkbox']:disabled + label,
  input[type='radio']:disabled + label {
    cursor: not-allowed;
    opacity: .66;
  }

  input[type='checkbox']:hover:not(:checked):not(:disabled),
  input[type='radio']:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }

  input[type='checkbox']:focus,
  input[type='radio']:focus {
    box-shadow: 0 0 0 var(--focus);
  }

  input[type='checkbox']:not(.switch),
  input[type='radio']:not(.switch) {
    width: 1.313em;
  }

  input[type='checkbox']:not(.switch)::after,
  input[type='radio']:not(.switch)::after {
    opacity: var(--o, 0);
  }

  input[type='checkbox']:not(.switch):checked,
  input[type='radio']:not(.switch):checked {
    --o: 1;
  }

  input[type='checkbox'] + label,
  input[type='radio'] + label {
    font-size: .875rem;
    line-height: 1.313em;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: .25em;
  }

  input[type='checkbox']:not(.switch) {
    border-radius: .25em;
  }

  input[type='checkbox']:not(.switch)::after {
    width: .313em;
    height: .563em;
    border: .125em solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: .438em;
    top: .25em;
    transform: rotate(var(--r, 20deg));
  }

  input[type='checkbox']:not(.switch):checked {
    --r: 43deg;
  }

  input[type='checkbox'].switch {
    width: 2.375em;
    border-radius: .688em;
  }

  input[type='checkbox'].switch::after {
    left: .125em;
    top: .125em;
    border-radius: 50%;
    width: .938em;
    height: .938em;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }

  input[type='checkbox'].switch:checked {
    --ab: var(--active-inner);
    --x: 1.063em;
  }

  input[type='checkbox'].switch:disabled:not(:checked)::after {
    opacity: .6;
  }

  input[type='radio'] {
    border-radius: 50%;
  }

  input[type='radio']::after {
    width: 1.188em;
    height: 1.188em;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, .7));
  }

  input[type='radio']:checked {
    --s: .5;
  }
}
